.file-manipulator-container {
    margin-top: 5%;
    width: 90%;
    text-align: left;
    height: fit-content;
}

.sheet-explorer-container {
    padding: 0.06rem;
    height: fit-content;
}

.sheet-explorer-detail {
    width: 100%;
    background-color: #fff;
    position: relative;
}

.sheet-explorer-summary {
    background-color: #fff;
    font-size: 1.13rem;
    font-weight: bold;
    padding: 1%;    
    cursor: pointer;
    height: fit-content;
}

.sheet-explorer-summary:hover {
    background-color: gainsboro;
}

.submit-button-container {
    margin-top: 2%;
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
}
